@use 'vars';
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('src/assets/fonts/DejaVuSansMono.ttf');
}

body {
  background-color: #FFFF;
  //font-family: 'Poppins', sans-serif;
  font-family: 'DejaVu Sans Mono';
}

a:hover {
  color:coral;
  text-decoration: none;
  
}

a {
  color: coral;
  text-decoration: none;
}

.root {
  background-color: black;
  width:fit-content;
}
/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
@media screen and (max-width: 800px) {
  .row {
    padding-right: 0;
    padding-left: 0;

  }
  .nopadding {
    padding-right: 0;
    padding-left: 0;

  }
}

