.container-fluid { 
    height: 100%;
    width: 100%;
}

.col {
    padding: 1rem;
    border: 1px solid darkgrey;
    @media screen and (max-width: 800px) {
        // display: none;
         font-size: 0.5rem;
         flex-wrap: wrap;
       
     }
 
}


.contact {
    &_title {
        font-size: 1.7rem;
        border-bottom: 1px solid black;
        text-align: left;
        padding: 1rem;
    }
    &_form {
        display: flex;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: left;
    }
}
  
@media screen and (max-width: 800px) {
    .mob {
        display:none;
    }
}