.footer {
    font-family: 'DejaVu Sans Mono';
        font-size: 1.5rem;
        justify-content: space-between;
        padding: 2rem;
        text-align: center;
        display: flex;
        width:100%;
        background-color: #f6d300;
        color: black;
        @media screen and (max-width: 600px) {
                // font-size: 1.1rem;
                // padding: 1.5em 0em;
                position: fixed;
                margin-top: -3rem;
                bottom: 0;
            }
            @media screen and (max-width: 500px) {
                width: 100%;
                font-size: 0.9rem;
                margin-top: 0rem;
                position: fixed;
                bottom: 0;
                padding: 1rem;
            }
}

.menu_logo_footer {
    @media screen and (max-width: 500px) {
        width: 26px;
    vertical-align: sub;
    margin-right: 1rem;
    }
    width: 37px;
    vertical-align: sub;
    margin-right: 13rem;
    // margin: 0 4px;
}
