.bandeau {
        font-family: 'DejaVu Sans Mono';
        display: flex;
        font-size: 2.5rem;
        justify-content: space-between;
        padding: 2rem;
        width:100%;
        background-color: black;
        color: #f6d300;
        @media screen and (max-width: 600px) {
                // font-size: 1.1rem;
                // padding: 1.5em 0em;
                margin-top: -3rem;
            }
            @media screen and (max-width: 500px) {
                width: 100%;
                font-size: 1.3rem;
                margin-top: 0rem;
            }
}

.lang {
    @media screen and (min-width: 800px) {
    animation: bounce1 0.70s ease-in-out alternate;
    animation-duration: 1s;
    animation-iteration-count: 2.5;
    }

}

.lang2 {
    @media screen and (min-width: 800px) {
    animation: bounce2 0.70s ease-in-out infinite alternate;
    animation-duration: 1s;
    animation-iteration-count: 2.5;
    }
}

@keyframes bounce1 {
    from {transform: translateX(-20px);}
    to   {transform: translateX(20px);}
}
@keyframes bounce2 {
    from {transform: translateX(20px);}
    to   {transform: translateX(-20px);}
}